body {
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

.square {
	width: 30%;
	float: left;
	margin: 1.66%;
	padding-bottom: 30%;
	background: purple;
	border-radius: 15%;
	/*box-shadow: inset 0 0 7px 4px rgba(255,255,255,.5);*/
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
	transition: box-shadow 0.9s;
	-webkit-transition: box-shadow 0.9s;
	-moz-transition: box-shadow 0.9s;
}

.square:hover {
	box-shadow: 0px 0px 50px rgba(81, 203, 238, 1);
	transition: box-shadow 0.6s;
	-webkit-transition: box-shadow 0.6s;
	-moz-transition: box-shadow 0.6s;
}

#container {
	margin: 20px auto;
	max-width: 600px;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	line-height: 1.1;
	font-weight: normal;
	color: white;
	background: steelblue;
	margin: 0;
	padding: 20px 0;
}

#colorDisplay {
	font-size: 200%;
}

#message {
	display: inline-block;
	width: 20%;
}

#stripe {
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}

.selected {
	color: white;
	background: steelblue;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

/* have a box shadow on all hovered but not selected buttons*/
button:hover:not(.selected) {
	color: white;
	background: steelblue;
	box-shadow: inset 0 0 7px 4px rgba(255,255,255,.5);
}
